<%- include('partials/head') %> 
<body>
    <h1>The home page <%= 4 + 5 + 1%></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, animi? Placeat illo cum excepturi vero quod et, perspiciatis cumque nam sapiente molestias, dicta ut in odio soluta, totam facere ex?
    Minus facilis quis et saepe doloremque optio quidem. Tempore, animi dolorum! Nihil doloribus, laborum optio possimus voluptates doloremque voluptatibus. Odio nemo quasi dolorum quae temporibus excepturi ratione quia odit quos.
    Possimus aperiam tempore magni? Quibusdam nesciunt sapiente amet iste molestiae ab quidem deserunt porro, saepe quasi magni dolor velit quas. Libero quasi facere consequuntur esse iure! Omnis rerum odit saepe.</p>
</body>
</html>